.footer {
  background-color: teal;
  width: 100%;
  color: white;
  position: relative;
  top: 200px;
  height: 40px;
}
.footer ul {
  display: flex;
  justify-content: flex-end;
}
.footer ul a,
li {
  text-decoration: none;
  list-style: none;
  padding-right: 20px;
  color: white;
  font-size: 20px;
}
